.whichToTrack_toggleText {
    flex-grow: 1;
    font-size: 32px;
    -unity-text-align: middle-center;
}

.whichToTrack_toggleButton {
    background-color: rgba(255, 0, 0, 255);
    -unity-background-image-tint-color: rgba(255, 0, 0, 255);
}
